[user]
	name = Brian Chase
	email = bchase.orders@gmail.com

[core]
    editor = code --wait
    autocrlf = input

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[alias]
    lg = log --oneline --graph --decorate --all
    undo = reset HEAD~1 --mixed
    save = stash push -m
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
